*.pyc
data
database.sqlite
text_recognition/logs
text_recognition/models
text_recognition/projects
.ipynb_checkpoints
node_modules
elm-stuff
yarn-error.log
.cache
.vscode
**/*.retry
.pytest_cache/
dist
