doctype html
html(lang="en")
  head
    title Munch
    link(rel="stylesheet", href="/style.css")
  body
    h1.title Painting chat bot

    .wrapper
      nav#nav.nav
        .default-nav
          .main-nav
            .toggle
            .main-nav-item
              a.main-nav-item-link(href="#") Munch
            .options
      .inner#inner
        .content#content
      .bottom#bottom
        form#form
          input.input#input(value="show me Allegory")
          button.send#send
    script(src="/script.js")